$font-stack: Helvetica, sans-serif;
$primary-color: #333;


// $train-green: #243624;
// $train-jumbo: $train-green;
// $train-card-header: #578258;
// $train-header: #2C422D;
// $train-footer: #223322;
// $train-border-color: #81C282;
// $white: #ffffff;
// $text: #81C282;
// $text-hover: #578258;

$train-green: #000000;
$train-jumbo: $train-green;
$train-card-header: #18052e;
$train-header: rgb(29, 5, 56);
$train-footer: #110222;
$train-border-color: #7504f5;
$white: #ffffff;
$text: rgb(255, 255, 255);
$text-hover: #9f0fff;

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
    background: url('../images/train_1.png') fixed no-repeat;
    background-size: cover;
}

/* mixin usage example for my reference */
// .box {
//     @include transform(rotate(30deg));
// }

a {
    color: $text;

    &:hover {
        color: $text-hover;
    }
}

.row {
    padding: 1rem;
}

.no-br {
    border-radius: 0;
}

.no-mar {
    margin: 0;
}

.time-style {
    float: right;

    &::after {
        clear: both;
    }
}

.y-square {
    width: 100%;
    height: 25px;
    padding: 4px 5px 0 5px;
    background-color: #FCEEC0;
}

.r-square {
    width: 100%;
    height: 25px;
    padding: 4px 5px 0 5px;
    background-color: #EEC8CB;
}

.train-header {
    background-color: $train-header;
}

.train-footer {
    background-color: $train-footer;
    border-top: 2px solid $train-border-color;
}

.train-jumbo {
    background-color: $train-jumbo;
}

.train-card-header {
    background-color: $train-card-header;
}

.train-border-color {
    border-color: $train-border-color;
}

.train-button {
    background-color: $train-green;
    border-color: $train-border-color;
    border-style: solid;
    color: $white;

    &:hover {
        background-color: #1e0254;
    }
}

.text-white {
    color: $white;
}

table {
    font-family: $font-stack;
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
        }
}

/*************************************************************/





/*************** CUSTOM BOOTSTRAP STYLING FOR PAGE ***************/

// :root {
//   --jumbotron-padding-y: 3rem;
// }

// .jumbotron {
//   padding-top: var(--jumbotron-padding-y);
//   padding-bottom: var(--jumbotron-padding-y);
//   margin-bottom: 0;
//   background-color: #fff;
// }
// @media (min-width: 768px) {
//   .jumbotron {
//     padding-top: calc(var(--jumbotron-padding-y) * 2);
//     padding-bottom: calc(var(--jumbotron-padding-y) * 2);
//   }
// }

// .jumbotron p:last-child {
//   margin-bottom: 0;
// }

// .jumbotron-heading {
//   font-weight: 300;
// }

// .jumbotron .container {
//   max-width: 40rem;
// }

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

@media only screen and (max-width: 520px) {
    table {
        font-size: .5rem;
    }
}